@import './base.css';

#app {
  min-height: 100vh;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #1b3c73;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: #d14d34;
  }
}
